:root {
  --black: #111111;
  --dark-grey: #1E1E1E;
  --light-grey: #303030;
  --sky-blue: #70DDFF;
  --light-green: #99FFA7;
  --light-yellow: #F8FF99;
  --dark-green: #6ab173;

  font-family: 'Work Sans', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--light-yellow) var(--black);
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

/* Optional */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}