/* Main Hero CSS */
.home-container {
    padding: 0 1rem;
    position: relative;
    min-height: calc(100vh - 202px);
}

.home-hero {
    background-color: #1E1E1E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='%23374b39' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234f7855' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2368a570' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2380d28c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2399FFA7' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    padding: 1rem;
    border-radius: 6px;
    min-height: inherit;

    position: relative;
    overflow: hidden;
}

.home-hero h3 {
    font-size: 1.5rem;
}

.home-hero h1 {
    font-size: 3rem;
}

.home-hero ol {
    margin-left: 2rem;
    margin-top: 0.5rem;
    line-height: 1.5;
}

.home-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.home-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    min-height: 15%;

    border-radius: 6px;
}

.home-form button {
    padding: 1rem 2rem;
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 51px;
    min-width: 181px;
    
    border: none;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
}

.home-form button::before {
    content: "";
    background: conic-gradient(#70DDFF 20deg, #99FFA7 120deg);
    width: 110%;
    height: 50%;
    position: absolute;
    animation: rotate 2s linear infinite;
}

.home-form button::after {
    content: "Fetch Data";
    width: 95%;
    height: 90%;
    background-color: var(--dark-grey);
    position: absolute;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetch-valid {
    display: none;
}

.fetch-invalid {
    position: absolute;
    bottom: 15%;
    width: 320px;
    padding: 1rem;
    color: var(--light-yellow);
}

/* Search CSS */
.search-container {
    padding: 1rem 2rem;
    min-height: calc(100vh - 124px);
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

@media screen and (max-width: 500px) {
    .home-hero h3 {
        font-size: 1rem;
    }

    .home-hero h1 {
        font-size: 1.75rem;
    }

    .home-hint {
        display: none;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}